################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MonoTemplate/v14/.suo
/MonoTemplate/bin/Debug
/MonoTemplate/obj/x86/Debug
/MonoTemplate/Content
/packages
/MonoTemplate/obj/Debug
/RxNA/bin/Debug
/RxNA/obj/x86/Debug
/.vs/LD33/v14/.suo
/LD33/bin/Debug
/LD33/obj/Debug
/LD33/obj/Windows
*.kra~
/LD33/Content
*.png~
/LD33/obj
/assets/.numbers.kra-autosave.kra
/assets/.torcher.kra-autosave.kra
/assets/.base monster.kra-autosave.kra
